{% extends 'base.html' %}


{% block content %}
    <div class="text-center mw-500 m-auto">
        <div class="m-5">
{#      이제는 프로필이 있는지를 확인하고 username이 아닌 #}
{#      profile의 nickname or message를 가져옴     #}
{#      여기서 profile은 models.py에서 profile이라고 지정을 해뒀기 떄문에 사용가능  #}
{#      src가 이미지를 못가져왔을 때 alt= 가 대체로 텍스트를 불러옴  #}
            {% if target_User.profile %}
                <img src="{{ target_User.profile.image.url }}"
                     class="profile_image m-4"
                     alt="profile image">
                <h2 class="NNS_B">
                    {{ target_User.profile.nickname }}
                    <a href={% url 'profileapp:update' pk=target_User.profile.pk %}>
                        edit
                    </a>
                </h2>
                <h5>{{ target_User.profile.message }}</h5>
            {% else %}
                <h2>
                    <a href={% url 'profileapp:create' %}>
                        Create profile
                    </a>
                </h2>
            {% endif %}
        </div>
        <div>
            {{ target_User.date_joined }}
        </div>
{# 주소 입력으로 들어가면 정보가 그대로 노출됨. 막기 위한 용도 #}
        {% if user == target_User %}
            <div>
                <a href="{% url 'accountapp:update' pk=target_User.pk %}">
                    Update Info
                </a>
            </div>
            <div>
                <a href="{% url 'accountapp:delete' pk=target_User.pk %} ">
                    Delete
                </a>
            </div>
        {% endif %}

    </div>



{% endblock %}