{%  extends 'base.html' %}

{% block content %}

<div style="margin: 2rem; text-align: center">
    <h1>METH</h1>

{#   method없이 사용하면 get으로 인식함 #}
{#  bootstrap 에서 버튼 원하는거 고르기, type뒤에 넣기  #}
{#    csrf_token 형식을 넣어야 정상적으로 post로 작동함#}
    <form action="/accounts/hello_world/" method="post">
        {% csrf_token %}
{#   text : 텍스트타입     #}
        <input type="text" name="input_text">
        <input type="submit" class="btn btn-info rounded-pill px-4">

    </form>

{#  단순출력용 {{   }}#}
{#  2. new_hel의 .text가져옴  #}
    <h3>{{ new_hel.text }}</h3>
    </div>
{% endblock %}