/*static = 자주 바뀌지 않는 파일들*/

/*static안에 fonts 폴더 만들고, 폴더안에 넣기*/
/*head.html에서 */

.main_logo{
        margin: 2rem 0;
        font-family: 'Lobster', cursive;
}

.main_marge{
        margin-bottom: 2rem;
}

.sub_marge{
        margin-top: 2rem;
}

.sub_logo{
        margin: 1.5rem 0;
        font-family: 'Lobster', cursive;
}


.mw-500{
        max-width: 500px;
        padding: 1rem 1.5rem;
/*   간격 설정     */
}