/*static = 자주 바뀌지 않는 파일들*/

/*static안에 fonts 폴더 만들고, 폴더안에 넣기*/
/*head.html에서 글 복붙하기 */

.main_logo{
        margin: 2rem 0;
        font-family: 'Lobster', cursive;
}

.main_marge{
        margin-bottom: 2rem;
}

.sub_marge{
        margin-top: 2rem;
}

.sub_logo{
        margin: 1.5rem 0;
        font-family: 'Lobster', cursive;
}


.mw-500 {
        max-width: 500px;
        padding: 1rem 1.5rem;
        /*   간격 설정     */
}


.profile_image{
        height: 12rem;
        width: 12rem;
        border-radius: 20rem;
        object-fit: cover;
}

.NNS_B{
        font-family: "NanumSquareB", cursive;
}

.round_button{

        color : black;
        /* 밑줄 제거 */
        text-decoration: none;
        /* 그림자 위치 3px 3px, 그림자 크기, 그림자 색 */
        box-shadow: 0 0 3px black;
        border-radius: 20rem;
        padding: 0.3rem;
}
/* 마우스커서를 올렸을때 */
.round_button:hover{
        color: dimgray;
}

.article_image{
        width:60%;
        border-radius: 2rem;
        box-shadow: 0 0 1rem grey;
}

.article_content{
        text-align: left;
        font-size: 1.2rem;

}