{% extends 'base.html' %}
{% load bootstrap4 %}

{# 또 복사해오기 ㅇㅅㅇ #}
{% block content %}

    <div class="text-center mw-500 m-auto">
        <div class="m-5">
            <h4>
                Create Profile
            </h4>
        </div>
        <div>
{#      이대로 두면 작동을 안하기에(정확히는 제출해도 반응없음) enctype="multi../form.. 추가해야함, 파일이나 이미지를 전송하는데 쓰임.      #}
            <form action="{% url 'profileapp:create' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="m-5">
                <input type="submit"
                       class="btn btn-dark rounded-pill px-5">
                </div>
            </form>

        </div>
    </div>

{# 완료하면 에러가 뜰텐데 user속성이 없어서 그럼.#}

{% endblock %}